body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: url('../img/cEvaluate.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
}

.comment-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align:center;
}

h2 {
display: table-cell;
    margin-top: 0;
    color: #333;
   margin: 0 auto;
  display:inline-block;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
   display:inline-block;
}

button:hover {
    background-color: #0056b3;
}
@media (max-width: 480px) {
    .comment-form-container {
        width: 90%;
    }
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.back-link:hover {
    text-decoration: underline;
}

