body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-image:url('../img/head.png');
	background-size: 100% 100%; /* 使图片宽度和高度都为100% */
    background-position: center; /* 使图片在元素中居中显示 */
    background-repeat: no-repeat; /* 防止图片重复 */
    color: black;
    padding: 10px 0;
    text-align: center;
    width:100%;
    height:75px;
}
header h1{
	color:black;
}
header #a1{

	display:block;
	width:30px;
	height:30px;
}
header #imgaa{
	
	
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	right:7%;
	top:3%;
}
header span{
	display:none
}
header a:hover span{
	diaplay:block;
}
header a:hover img{
	display:none;
}
nav {
    background-color: #003b70;
    padding: 10px;
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
    display: block;
}

nav a:hover {
    background-color: #0073e6;
}

.container {
    margin: 20px auto;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: left;
    margin-left:5%;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    
}

table, th, td {
    border: 1px dashed #ddd;
}

td {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    vertical-align: middle; /* 应用于td和th以垂直居中内容 */
}



.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-links {
    width: 25%;
    
    margin-right: 20px;
    
}
.nav-links a {
	
    display: block;
    color: white;
    text-decoration: none;
    background-color: #0080ff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.nav-links a:hover {
	color: white;
    background-color: #66b2ff;
}
.pet-guide-table {
    width: 70%;
}
h3 {
    font-style: italic;
}
#footer{
	width: 100%;
	
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
	background-color: #1f4e78;
}
#footer p{
	
	font-size: 13px;
	color: white;
}
#footer p a{
	font-size: 13px;
	color: white;
	margin: 8px;
}

