*{
	margin:0;
	padding:0;
}
body,html{
	height: 100%;
}

.main{
    width: 100%;
    height: 100%;
     background-color: green;
}
#header{
	height:80px;
	width:100%;
	background-color:#f7f9fa;
	position:relative;
	background-image: url(../img/head.png);
	background-size: 100% 100%;
}
#header .title{
	width:100%;
	width:30%;
	position:absolute;
	left:8%;
	top:20%;
}
#header .back{
	position:absolute;
	width:80px;
	height:40px;
	left:20px;
	top:20px;
}
#header .back img{
	width:80px;
	height:40px;
}
.main .content {
    background-color: #f7f9fa;
    width: 100%;
    position: absolute;
    display: flex;
    top: 80px;
    bottom: 0px;
    left: 0px;
    background-image: url(../img/cPet.jpeg);
	background-size: 100% 100%;
}
.main .content .left{
    width: 400px;
    height: 400px;
    background-color: #f7f9fa;
    position:absolute;
    left:14%;
    top:13%;
    border-radius: 10px;
}
.main .content .left img{
	width: 380px;
    height: 380px;
    margin-left:10px;
    margin-top:10px;
    border-radius: 10px;
}
.main .content .right{
    flex: 1;
    background-color:#b2d8fd;
    height: 400px;
    width: 400px;
    position:absolute;
    left:50%;
    top:13%;
    border-radius: 10px;
}
.main .content .right h5{
	font-size:25px;
	font-family:黑体;
}
.main .content .right i{
	font-size:25px;
}
.main .content .right span{
	color:#ff5000;
}
.main .content .right #p1{
	font-size:17px;
	margin-top:5px;
}
.main .content .right .button{
	font-size:20px;
	color:white;
	width:130px;
	height:45px;
	background-color:#ff5000;
	border-radius: 10px;
	position:absolute;
	left:20px;
	bottom:82px;
}
.main .content .right a{
	display:block;
	font-size:20px;
	line-height:38px;
	color:white;
	width:130px;
	height:45px;
	background-color:#ff5000;
	border-radius: 10px;
	margin-left:15px;
	text-align:center;
	border: 2px solid black;
	position:absolute;
	right:20px;
	bottom:82px;
	text-decoration:none;
}