body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
#header{
	height:80px;
	width:100%;
	background-color:#f7f9fa;
	position:relative;
	background-image: url(../img/head.png);
	background-size: 100% 100%;
}
#header .title{
	width:100%;
	width:30%;
	position:absolute;
	left:8%;
	top:20%;
}
#header .back{
	position:absolute;
	width:80px;
	height:40px;
	left:20px;
	top:20px;
}
#header .search{
	position:absolute;
	right:90px;
	bottom:20px;
}
#header .search a{
	display:block;
	text-decoration:none;
	color:black;
	font-size:20px;
	background-color:white;
}
#header .back img{
	width:80px;
	height:40px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dee2e6;
}
th {
    background-color: #007bff;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.back-button {
	margin:30px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.back-button1 {
	border: none;
	padding: 10px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.back-button:hover {
    background-color: #0056b3;
}
.back-button1:hover {
    background-color: #0056b3;
}