*{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size:20px;
}
.main{
	font-family:Roboto, sans-serif;
  font-size:30px;
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  padding-top:100px;
  padding-right:0px;
  padding-bottom:100px;
  padding-left:0px;
  color:rgb(68, 68, 68);
  position:absolute;
  background-size:cover;
  background-position-x:center;
  background-position-y:center;
  background-color:rgb(255, 255, 255);
  height:100%;
  width:100%;
  background-image:url('../img/sInfo.jpg');
}
.main .board{
	 /*z-index:98;*/
	height: 480px;
	width: 800px;
	background-color: white;
	/* backface-visibility: visible; */
	position: absolute;
	left: 100px;
	top:150px;
	/* border-radius: 10px;
	border: 2px solid #4a4a4a; */
}
.main .board a{
	display:block;
	margin-left: 50px;
	text-decoration: none;
	margin-top: 25px;
	font-size:25px;
	text-align: center;
	border-radius: 10px;
	font-weight: 400;
	color: #8b541c;
	background-color: #d5ecd7;
	width:80px;
	height:40px;
	float:left;
}
.main .board h3{
	display: block;
	font-size: 20px;
	font-weight: 100;
	margin-top:120px;
	margin-left: 49px;
	border-left: 2px solid #4a4a4a;
	width: 100px;
	height: 30px;
	color: #8b541c;
}
.main .board p{
	display: block;
	/* font-size: 25px; */
	/* font-weight: 100; */
	margin-left: 65px;
	/* border-left: 2px solid #4a4a4a; */
	/* width: 100px; */
	/* height: 30px; */
	margin-top: 25px;
	text-align: left;
	font-size: 17px;
	color: #8b541c;
}
.main .board #ly{
	height: 150px;
}
.main .board #bt1{
	/* height: 150px; */
	margin-top: 20px;
	margin-left: 120px;
	display: block;
	border-radius: 5px;
	font-size: 17px;
	width: 90px;
	height: 35px;
	color: #8b541c;
}
.main .board .te{
	border-radius: 5px;
}
.main .call{
	height: 480px;
	width: 400px;
	background-color: white;
	position: absolute;
	left: 500px;
	top:150px;
	/* border-radius: 10px;
	border: 2px solid #4a4a4a; */
}
.main .call h3{
	display: block;
	font-size: 18px;
	font-weight: 100;
	margin-left: 62px;
	border-left: 2px solid #4a4a4a;
	margin-top: 120px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #8b541c;
}
.main .call p{
	display: block;
	/* font-size: 25px; */
	/* font-weight: 100; */
	margin-left: 80px;
	/* border-left: 2px solid #4a4a4a; */
	/* width: 100px; */
	/* height: 30px; */
	margin-top: 15px;
	text-align: left;
	font-size: 17px;
	color: #8b541c;
}