body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/sMain.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}

.title {
    margin-top: 5%;
    text-align: center;
    color: white;
    vertical-align: middle; 
}

.background {
    height: 100%;
    position: relative;
}

.centered-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40%;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    padding: 30px;
    margin: 40px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    opacity: 0.9;
    text-align: center;
    flex: 1 1 calc(50% - 40px); 
    max-width: 40%;
    box-sizing: border-box;
}

.button:hover {
    opacity: 1;
}

.button:nth-child(1) {
    background-color: #F4606C;
}

.button:nth-child(2) {
    background-color: #19CAAD;
}

.button:nth-child(3) {
    background-color: #8CC7B5;
}

.button:nth-child(4) {
    background-color: #ECAD9E;
}

.button:nth-child(5) {
    background-color: #E6CEAC;
}

.button:nth-child(6) {
    background-color: #A0EEE1;
}

.button:nth-child(7) {
    background-color: #BEE7E9;
}

.button:nth-child(8) {
    background-color: #D6D5B7;
}

.logout-container {
	
    position: absolute;
    top: 7%;
    right: 7%;
    
}

#logout-button {
    width: 50px; 
    height: 50px;
     opacity: 1; 
    transition: opacity 0.3s ease; 
}
#logout-button:hover {
    opacity: 0.8; 
}

