<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IItemDao">
	<resultMap id="ItemResultMap" type="com.entity.Item">
        <result column="iId" property="iId"/>
        <result column="iName" property="iName"/>
        <result column="iInventory" property="iInventory"/>
         <result column="iPrice" property="iPrice"/>
          <result column="iIntroduce" property="iIntroduce"/>
           <result column="iImage" property="iImage"/>
    </resultMap>

    <select id="findAll" resultType="com.entity.Item" resultMap ="ItemResultMap">
        select * from Item
    </select>
	<select id="findByName" resultType="com.entity.Item" resultMap ="ItemResultMap">
        select * from Item where iName LIKE CONCAT('%', #{iName}, '%')
    </select>
    <update id="update">
        UPDATE Item SET iName=#{iName},iInventory=#{iInventory},iPrice=#{iPrice},iIntroduce=#{iIntroduce},iImage=#{iImage} WHERE iId = #{iId}
    </update>
	<insert id="add">
		insert into Item(iName,iInventory,iPrice,iIntroduce,iImage) values (#{iName},#{iInventory},#{iPrice},#{iIntroduce},#{iImage})
	</insert>
    <update id="updateInventory">
        UPDATE Item SET iInventory=#{iInventory} WHERE iId = #{iId}
    </update>
     <select id="findByiId" parameterType="int" resultType="com.entity.Item" >
        select * from Item where iId = #{iId}
    </select>

</mapper>
